<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Debug</key>
	<dict>
		<key>baseUrl</key>
		<string>https://jsonplaceholder.typicode.com</string>
		<key>googleAdAdaptiveBannerID</key>
		<string>ca-app-pub-3940256099942544/2435281174</string>
	</dict>
	<key>Release</key>
	<dict>
		<key>baseUrl</key>
		<string>https://jsonplaceholder.typicode.com</string>
		<key>googleAdAdaptiveBannerID</key>
		<string>ca-app-pub-3940256099942544/2435281174</string>
	</dict>
</dict>
</plist>
